 
<div class="card">
    <img class="card-img-top" src="{{feedImage.link}}" alt="Image from {{feedImage.author}}">
    <div class="card-body">
      <h4 class="card-title">{{feedImage.title}}</h4>
      <p class="card-text"><span class="date-title">Clicked On:</span> {{feedImage.date_taken | date}}</p>
      <p class="card-text"><span class="date-title">Published On: </span>{{feedImage.published | date}}</p>
      <p class="card-text tags-list"><span class="date-title">Tags: </span>{{feedImage.tags}}</p>
      <a href="{{feedImage.link}}" class="btn btn-primary" target="_blank"
      *ngIf="feedImage.title !== 'No Image found'">Show Image</a>
    </div>
  </div>
