$card-width: 330px;
$card-border-radius: 1.75rem;
.card {
    width: $card-width;
    border-radius: $card-border-radius;
    .card-body {
        padding-bottom: 0.5rem;
    }
    img {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }
    .card-img-top {
        height: $card-width;        
    }
    .card-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1rem;
        margin-bottom: 0.3rem;
        min-height: 1rem;
        margin-top: -0.9rem;
        max-height: 1.7rem;
    }
    .card-text {
        line-height: 1rem;
        margin-bottom: 0.15rem;
        .date-title {
            font-size     : 0.7rem;
            color: lightgray;
            font-weight: bold;
            
        }
        
    }
    .btn {
        padding: 0.07rem $card-border-radius;
        float: right;
    }
}
.tags-list {
    min-height: 3rem;
    max-height: 3rem;
    font-size: 0.7rem;
    text-overflow : ellipsis;
    overflow      : hidden;
}