<div class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="row topRow">

    <div class="noRpad">
      <a class="navbar-brand" href="{{gitProjectURL}}" target="_blank">
        <img src="{{profileImgURL}}" width="25" height="25" alt="">
      </a>
      <form class="search-control mr-sm-0" #searchForm="ngForm">
        <input class="mr-sm-0" type="search" #searchkey name="searchTag" (search)="performSearchClick(searchkey.value)"
          placeholder="Filter tags..." autocomplete="off" required minlength="3">
        <button class="btn btn-success mr-sm-0" (click)="performSearchClick(searchkey.value)"
          [disabled]="!searchForm.form.valid">
          <img src="https://img.icons8.com/ios/50/000000/detective.png">
        </button>
      </form>
    </div>
  </div>
</div>